h1 {
letter-spacing: 5px;
font-weight: lighter;
}

h2 {
letter-spacing: 5px;
}

h3 {
letter-spacing: 5px;
}

h4 {
 letter-spacing: 3px;
}

h5 {
 letter-spacing: 2px;
}

p {
  letter-spacing: 2px;
}

.team-all {
  background-color: white;
  clear: left;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.card {
  background-color: white;
  padding: 20px;
  clear: left;
  border-radius: 2px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #272f8c;
  h4 {
    width: 100%;
    font-size: 15px;
  }
}


.equipe-presentation {
  background-color: white;
  padding: 35px;
  clear: left;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  h4 {
    text-align: justify;
  }
}

.modal-content {
  padding: 30px;
  position: relative;
  button {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}


.pic {
  margin-top: -25px;
  img {
    width: 70%;
    margin-left: 15%;
  }
}

.map {
  iframe {
  border-radius: 3px;
  margin: auto;
  margin-top: 20px;
  }
}

.part {
  img {
    width: 60%;
    margin: auto;
  }
}

.part2 {
  img {
    width: 30%;
    margin: auto;
  }
}

.flex {
  display: flex;
  align-items: center;
  a {
    height: 100%;
  }
}

.etablissement {
  display: flex;
  align-items: center;
}

.card-etablissement {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  background-color: white;
  padding: 40px;
}

.card-etablissement2 {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  height: 469px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

@media screen and (max-width: 992px) {
  .card-etablissement2 {
  display: none;
  }
}


.name {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 20px;
  img {
    width: 70px;
    border-radius: 50px;
    margin-right: 12px;
  }
}

.card-hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.4s ease;
  color: #272f8c;
  border-radius: 5px;
}

.card:hover .card-hover {
  opacity: 0.9;
}
