<!-- Footer -->
<div class="wraper" style="background-color: #272f8c">
  <div class="container text-center footer">
    <h4>RDV : 01 43 56 56 56</h4>
    <h4>Urgences de la Main : 06 43 70 46 30</h4>
    <h4>Mail : cliniquemainparismontlouis@gmail.com</h4>
  </div>
</div>
