<!-- Footer -->
<section id="section-footer">
  <div class="container">
    <div class="footer">
      <div class="text-center", id="contact">
        <div class="row">
          <div class="col-xs-12">
            <div class="">
              <h2>Contact</h2>
              <h4>RDV : 01 43 56 56 56</h4>
              <h4>Urgences de la Main : 06 43 70 46 30</h4>
              <h4>Mail : cliniquemainparismontlouis@gmail.com</h4>
            </div>
            <div>
              <ul class="list-inline social-link">
                <a href="https://www.facebook.com/Linstant-by-Le-Paris-1590188081267035/?ref=ts&fref=ts"><i class="fa fa-facebook"> </i></a>
                <a href="https://www.instagram.com/linstantbyleparis"><i class="fa fa-instagram"> </i></a>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
