  <div id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
          <%= image_tag('logonavbar 2.jpg') %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <div>
            <ul class="nav navbar-nav pull-right">
              <li>
                <a href="#Equipe" class="">L'équipe</a>
              </li>
              <li>
                <a href="#Patho" class="">Les pathologies</a>
              </li>
              <li>
                <a href="#Urgences" class="">Urgences de la main</a>
              </li>
              <li>
                <a href="#Infos" class="">Infos Pratiques</a>
              </li>
              <li>
                <a href="#contact" class="">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
