
<div class="wraper">
  <div class="banner" style="background-image: url('<%= image_path('clinique.gif') %>');">
    <div class="banner-content">
    <h2 style="background-color: white; color: #272f8c; opacity: 0.6; padding: 20px; border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,0.07);">LA CLINIQUE DE LA MAIN DE PARIS MONT LOUIS</h2>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">L'équipe chirurgicale</h1>
  <div class="container">
    <h4 class="equipe-presentation" style="text-align: justify;">Elle est composée de 5 chirurgiens de la main, spécialisés en microchirurgie, chirurgie reconstructrice et réparatrice des pathologies de la main et du poignet. La prise en charge des patients est globale par les consultations, les interventions chirurgicales, les soins post-opératoires, le plateau technique permettant la réalisation des examens complémentaires. <br>
    Cette prise en charge spécifique du patient se fait exclusivement sur le même site, à la Clinique du Mont-Louis.
    Tous les praticiens ont eu un parcours hospitalo-universitaire, et sont activement impliqués dans l’enseignement et la recherche clinique.</h4>
    <div class="row text-center">
      <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg1" cursor="pointer">
        <div class="card" class="text-center">
          <h4>Professeur<br>OBERLIN Christophe</h4>
        </div>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg2" cursor="pointer">
        <div class="card" id="text-center">
          <h4>Docteur<br>BELKHEYAR Zoubir</h4>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg3" cursor="pointer">
        <div class="card" id="text-center">
          <h4>Docteur<br>BRUN Magali</h4>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg4" cursor="pointer">
        <div class="card" id="text-center">
          <h4>Docteur<br>LACOSTE Sophie</h4>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg5" cursor="pointer">
        <div class="card" id="text-center">
          <h4>Docteur<br>TOUAM Chabane</h4>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Professeur des universités. Chirurgien de référence dans le domaine de la chirurgie des paralysies, de réputation internationale dans le domaine de la chirurgie du plexus brachial.
      Activités : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet
      Secrétariat : 01 43 56 54 42
      Jour de consultation : Lundi après-midi / 14h – 18h</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Dr Zoubir Belkheyar : chirurgien de la main, ancien Chef de Clinique des Hôpitaux de Paris, chargé d’enseignement DIU de chirurgie de la main et du membre supérieur.
      Activités : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet, microchirurgie
      Secrétariat : 01 43 56 54 42
      Jour de consultation : jeudi toute la journée</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Dr Magali Brun : chirurgien de la main, ancienne Chef de Clinique des Hôpitaux de Paris, chargée d’enseignement DIU de chirurgie de la main et du membre supérieur.
      Activités : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie.
      Secrétariat : 01 43 56 54 52
      Jour de consultation : lundi matin 9h-12h30</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Dr Sophie Lacoste : chirurgien de la main, praticien attaché au CHU Hôpital Saint-Antoine, ancienne Chef de Clinique des Hôpitaux de Paris.
      Activités : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie.
      Secrétariat :  01 43 56 54 52
      Jour de consultation : mercredi matin 9h-12h30</h4>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h4>Dr Chabane Touam : chirurgien de la main et du membre supérieur, chirurgie des nerfs, microchirurgie, chirurgie plastique et reconstruction au niveau des membres. Ancien chirurgien des Hôpitaux parisiens. Chargé d’enseignement DIU de microchirurgie et de chirurgie de la main.
      Activités : chirurgie et pathologies de la main et du membre supérieur.
      Secrétariat : 01 43 56 54 52
      Jour de consultation : mercredi – jeudi après-midi 14h-18h</h4>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">Séjour – hospitalisation - Anesthésie</h1>
  <div class="container">
  </div>
</div>


<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">Établissement</h1>
  <div class="container">
  </div>
</div>


<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">Comment venir?</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>UNITÉ DE TRAUMATOLOGIE</h4>
          <p>URGENCES DE LA MAIN <br>
          TÉL. : 06 43 70 46 30 <br>
          (7J/7 – 24h/24)</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>ADRESSE</h4>
          <p>8-10, rue de la Folie-Régnault, 75011 Paris <br>
          Métro Ligne 9 : arrêt Charonne <br>
          Ligne 2 : arrêt Philippe Auguste</p>
        </div>
      </div>
    </div>
    <div id="map" style="width: 500px; height: 250px; margin: auto;">
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(48.8570256,2.3839325);
        var myOptions = {
          zoom: 16,
          center: myLatlng,
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [] // TODO: replace [] by array from https://snazzymaps.com/
      };
      var map = new google.maps.Map(document.getElementById('map'), myOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "You are here!"
      });
    </script>
  </div>
  </div>
</div>

<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">Prévention</h1>
  <div class="container">
  </div>
</div>

<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 30px; padding-bottom: 30px;">
  <h1 class="text-center" style="margin-bottom: 30px;">Partenaires</h1>
  <div class="container">
  </div>
</div>


