
.title-background {
  margin: auto;
  padding-top: 20px;
  padding-bottom:20px;
  margin-bottom: 20px;
  .line {
    background-color: #fe8d3d;
    height: 10px;
    margin-top: -10px;
    margin: auto;
    width: 45%;
    opacity: 0.3;
  }
  .line2 {
    background-color: #fe8d3d;
    height: 10px;
    margin-top: -10px;
    margin: auto;
    width: 80%;
    opacity: 0.3;
  }
  .line3 {
    background-color: #fe8d3d;
    height: 10px;
    margin-top: -10px;
    margin: auto;
    width: 30%;
    opacity: 0.3;
  }
  .line4 {
    background-color: #fe8d3d;
    height: 10px;
    margin-top: -10px;
    margin: auto;
    width: 22%;
    opacity: 0.3;
  }
}
